.CarouselWrapper {
  display: flex;
  flex-direction: column;
}

.CarouselWrapper h4 {
  text-align: center;
}

.SingleCarousel {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1rem;
  margin: 1rem auto;
}

.Image {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .SingleCarousel {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 600px) {
  .SingleCarousel {
    grid-template-columns: repeat(3, 1fr);
  }
}

.BtnRight {
  border: none;
  outline: none;
  background: none;
}

.BtnRight:hover {
  transform: scale(1.3) translateX(20px);
  transition: transform 0.5s ease-in-out;
}
.BtnLeft {
  border: none;
  outline: none;
  background: none;
}

.BtnLeft:hover {
  transform: scale(1.3) translateX(-20px);
  transition: transform 0.5s ease-in-out;
}

.Poster {
  transition: transform 0.5s ease-in-out;
}

.Poster:hover {
  transform: scale(1.5);
  transition: transform 0.5s ease-in-out;
  z-index: 15;
}
